
// SCSS Global Variables 

//Color


$primary-color: #946445;
$primary-light:#AF7753;
$primary-lighter:#D6B9A6;
$primary-dark: #372827;

$color-darker:#131131;
$color-text: #131131;
$primary-white: #fff;
$primary-error: #f33501;
$primary-success: green;
$color-shade: #733c00;
